<!--
Author: Sam Wilson-Perkins
-->
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
		<title>Big Boss Gallery - 2019-2022</title>
	</head>
	
	<div class="link-container">
		<a href="/home">Home</a>
	</div>
	
	<body>
		<div id="title">
			<h1>Big Boss Gallery</h1>
			<p>Pictures taken between 2019 and 2022</p>
		</div>
		
		<div class="column">
			<img src="{{url_for('static', filename='images/Epcot-Fireworks.JPEG') }}" alt="Fireworks at Epcot 2019" style="width:55vh;">
			<figcaption>Fireworks Show at WDW's Epcot - October 2019</figcaption>
		</div>
		
		<div class="column">
			<img src="{{url_for('static', filename='images/Pitlochry.JPEG') }}" alt="Pitlochry 2019" style="width:38vh;">
			<figcaption>Early Morning in Pitlochry - Summer 2019</figcaption>
		</div>
		
		<div class="column">
			<img src="{{url_for('static', filename='images/Callendar-Park.JPEG') }}" alt="Callendar Park 2021" style="width:38vh;">
			<figcaption>Forbes Mausoleum in Callendar Park - Summer 2021</figcaption>
		</div>
		
		<div class="column">
			<img src="{{url_for('static', filename='images/Statue.JPEG') }}" alt="Another Place Statue 2022" style="width:38vh;">
			<figcaption>Another Place by Anthony Gormley<br>on Crosby Beach - July 2022</figcaption>
		</div>
		
		<div class="column">
			<img src="{{url_for('static', filename='images/Loch-Faskally.JPEG') }}" alt="Loch Faskally Panorama" style="height:50vh;">
			<figcaption>Panorama of Loch Faskally - Summer 2022</figcaption>
		</div>
	</body>
</html>
