<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="styles.css">
		<title>Big Boss Gallery - 2019-2022</title>
	</head>
	
	<div class="link-container">
		<a href="home.html">Home</a>
	</div>
	
	<body>
		<div id="title">
			<h1>Big Boss Gallery</h1>
			<p>Pictures taken between 2019 and 2022</p>
		</div>
		
		<div class="column">
			<img src="Pictures/Epcot-fireworks.jpeg" alt="Fireworks at Epcot 2019" style="width:55vh;">
			<figcaption>Fireworks Show at WDW's Epcot - October 2019</figcaption>
		</div>
		
		<div class="column">
			<img src="Pictures/Pitlochry.jpeg" alt="Pitlochry 2019" style="width:38vh;">
			<figcaption>Early Morning in Pitlochry - Summer 2019</figcaption>
		</div>
		
		<div class="column">
			<img src="Pictures/Callendar-Park.jpeg" alt="Callendar Park 2021" style="width:38vh;">
			<figcaption>Forbes Mausoleum in Callendar Park - Summer 2021</figcaption>
		</div>
		
		<div class="column">
			<img src="Pictures/Statue.jpeg" alt="Another Place Statue 2022" style="width:38vh;">
			<figcaption>Another Place by Anthony Gormley<br>on Crosby Beach - July 2022</figcaption>
		</div>
		
		<div class="column">
			<img src="Pictures/Loch-Faskally.jpeg" alt="Loch Faskally Panorama" style="width:78vh;">
			<figcaption>Panorama of Loch Faskally - Summer 2022</figcaption>
		</div>
	</body>
</html>
