<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
		<title>Big Boss Gallery - 2023</title>
	</head>
	
	<div class="link-container">
		<a href="home.html">Home</a>
	</div>
	
	<body>
		<div id="title">
			<h1>Big Boss Gallery</h1>
			<p>Pictures taken in 2023</p>
		</div>
		
		<div class="column">
			<img src="Pictures/Helix.jpeg" alt="Helix, Falkirk 2023" style="width:38vh;">
			<figcaption>Evening at The Helix, Falkirk - April 2023</figcaption>
		</div>
		
		<div class="column">
			<img src="Pictures/Yarm-River.jpeg" alt="River Tees outside Yarm" style="width:50vh;">
			<figcaption>River Tees just outside Yarm, England<br> - April 2023</figcaption>
		</div>
		
		<div class="column">
			<img src="Pictures/Turkey23(2).jpeg" alt="Orka Sunlife Babadag View" style="width:38vh;">
			<figcaption>View of Babadag from Orka Sunlife - Summer 2023</figcaption>
		</div>
		
		<div class="column">
			<video height="440" controls>
				<source src="Pictures/Babadag.mp4" type="video/mp4">
			</video>
			<figcaption>View of Babadag from Orka Sunlife - Summer 2023</figcaption>
		</div>
		
		<div class="column">
			<img src="Pictures/Turkey23(3).jpeg" alt="Orka Sunlife Resort 2023" style="width:50vh;">
			<figcaption>Orka Sunlife Hotel near Fethiye, Turkey - Summer 2023</figcaption>
		</div>
		
		<div class="column">
			<img src="Pictures/Aviemore.jpeg" alt="" style="width:38vh;">
			<figcaption>Shore-side at Loch Morlich - September 2023</figcaption>
		</div>
		
		<div class="column">
			<img src="Pictures/Trainline.jpeg" alt="Train line in Aviemore" style="width:38vh;">
			<figcaption>View down the line at the Strathspey Railway<br> - September 2023</figcaption>
		</div>
	</body>
</html>
