<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
		<title>Big Boss Gallery - 2024</title>
	</head>
	
	<div class="link-container">
		<a href="home.html">Home</a>
	</div>
	
	<body>
		<div id="title">
			<h1>Big Boss Gallery</h1>
			<p>Pictures taken in 2024</p>
		</div>
		
		<div class="column">
			<img src="Pictures/Turkey24.jpeg" alt="Orka Lotus Beach" style="width:38vh;">
			<figcaption>Orka Lotus Beach near Marmaris,<br> Turkey - Summer 2024</figcaption>
		</div>
		
		<div class="column">
			<img src="Pictures/Snow.jpeg" alt="Snowfall" style="width:38vh;">
			<figcaption>Snowfall - December 2024</figcaption>
		</div>
	</body>
</html>
