<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
		<title>Big Boss Gallery - 2019-2022</title>
	</head>
	
	<div class="link-container">
		<a href="/home">Home</a>
	</div>
	
	<body>
		<div id="title">
			<h1>Big Boss Gallery</h1>
			<p>About the Photographer</p>
		</div>
		
		<br>
		<p>I'm Sam.</p>
		<p>I'm currently 3rd year, studying BSc Comp Sci at ENU in Scotland.</p>
		<p>Here are some funny photos of me.</p>
		
		<div class="column">
			<img src="{{url_for('static', filename='images/Plane-toilet.JPEG') }}" alt="Plane Bathroom Mirror" style="width:38vh;">
			<figcaption>Me in an airplane bathroom, 2024</figcaption>
		</div>
		
		<div class="column">
			<img src="{{url_for('static', filename='images/Racecar.JPEG') }}" alt="Stuck in a racecar" style="width:38vh;">
			<figcaption>Me stuck in a model racecar, 2024</figcaption>
		</div>
		
		<div class="column">
			<img src="{{url_for('static', filename='images/maccies.JPEG') }}" alt="McDonalds trip" style="width:38vh;">
			<figcaption>Me deadeyed in a Mcdonalds</figcaption>
		</div>
	</body>
</html>
