<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
		<title>Big Boss Gallery - Home</title>
	</head>
	
	<div class="author-container">
		<img src="{{url_for('static', filename='images/Me.css') }}" alt="About Me" style="width:11vh;height:16vh;border-radius: 50%;border-style:solid;border-color:#B3D3FF;">
		
		<div class="overlay">
			<a class="image-text" href="/aboutme">About Me</a>
		</div>
	</div>
		
	<body>
		<div id="title">
	
		<h1>Big Boss Gallery</h1>
			<p>Click on a picture to view an album</p>
		</div>
			
		<div class="column">
			<a href="/19-22">
				<img src="Pictures/Pitlochry.jpeg" alt="Faskally 2019" style="width:45vh;height:73vh;border-style:solid;border-color:#B3D3FF;">
			</a>
		</div>
			
		<div class="column">
			<a href="/23">
				<img src="Pictures/Aviemore.jpeg" alt="Aviemore 2023" style="width:45vh;height:73vh;border-style:solid;border-color:#B3D3FF;">
			</a>
		</div>
			
		<div class="column">
			<a href="/24">
				<img src="Pictures/Snow.jpeg" alt="Snow 2024" style="width:45vh;height:73vh;border-style:solid;border-color:#B3D3FF;">
			</a>
		</div>
	</body>
</html>